@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic);


nav {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
}

body h2 {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

body h3 {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}

body h4 {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

body h5 {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

body h6 {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: bold;
}

body p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

#panel {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
}

#store {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  text-align: center;
}

#nav {
  font-size: 20px;
}

#first {
  margin-top: 0px;
}

#title {
  font-size: 30px;
  font-weight: bold;
}

#us {
  text-indent: 20px;
}

#button {
  margin-top: 5px;
  font-family: "Roboto Condensed", sans-serif;
}
